<div class="card">
    <div class="card-content text-white">
        <table>
            <tbody>
                <div class="divider"></div>
                <tr>
                    <td class="td-label"><b>Full Name</b></td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td><b>Job title</b></td>
                    <td>{{job_title}}</td>
                </tr>
                <tr>
                    <td><b>About</b></td>
                    <td>{{about}}</td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td>{{phone}}</td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td>{{email}}</td>
                </tr>
                <tr>
                    <td><b>Github</b></td>
                    <td>{{github}}</td>
                </tr>
                <tr>
                    <td><b>LinkedIn</b></td>
                    <td>{{linkedin}}</td>
                </tr>
                <tr>
                    <td><b>Role</b></td>
                    <td>{{role}}</td>
                </tr>
                <tr>
                    <td><b>Company</b></td>
                    <td>{{company}}</td>
                </tr>
                <tr>
                    <td><b>Start Date</b></td>
                    <td>{{job_starting}}</td>
                </tr>
                <tr>
                    <td><b>End Date</b></td>
                    <td>{{job_ending}}</td>
                </tr>
                <tr>
                    <td><b>Jod Descripton</b></td>
                    <td>{{job_desc}}</td>
                </tr>
                <tr>
                    <td><b>School Name</b></td>
                    <td>{{school_name}}</td>
                </tr>
                <tr>
                    <td><b>Graduation Date</b></td>
                    <td>{{graduation_date}}</td>
                </tr>
                <tr>
                    <td><b>Degree</b></td>
                    <td>{{degree}}</td>
                </tr>
                <tr>
                    <td><b>Project 1 Name</b></td>
                    <td>{{project1_name}}</td>
                </tr>
                <tr>
                    <td><b>Project 1 Descripton</b></td>
                    <td>{{project1_desc}}</td>
                </tr>
                <tr>
                    <td><b>Project 1 Repository</b></td>
                    <td>{{repository1}}</td>
                </tr>
                <tr>
                    <td><b>Project 2 Name</b></td>
                    <td>{{project2_name}}</td>
                </tr>
                <tr>
                    <td><b>Project 2 Descripton</b></td>
                    <td>{{project2_desc}}</td>
                </tr>
                <tr>
                    <td><b>Project 2 Repository</b></td>
                    <td>{{repository2}}</td>
                </tr>
                <tr>
                    <td><b>Project 3 Name</b></td>
                    <td>{{project3_name}}</td>
                </tr>
                <tr>
                    <td><b>Project 3 Descripton</b></td>
                    <td>{{project3_desc}}</td>
                </tr>
                <tr>
                    <td><b>Project 3 Repository</b></td>
                    <td>{{repository3}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

