<div class="profile">
            <div class="div-wrapper">
                <div class="profile row">
                    <h5>About</h5>
                    <form class="col-s12 edit-about-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="full-name" class="validate" value="{{portfolio.full_name}}">
                                <label for="full-name">Name</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="job-title" class="validate" value="{{portfolio.job_title}}">
                                <label for="job-title">Job Title</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="about" class="validate" value="{{portfolio.about}}">
                                <label for="about">About</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="phone" class="validate" value="{{portfolio.phone}}">
                                <label for="phone">Phone</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="country" class="validate" value="{{portfolio.country}}">
                                <label for="country">Country</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="city" class="validate" value="{{portfolio.city}}">
                                <label for="city">City</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="linkedin" class="validate" value="{{portfolio.linkedin}}">
                                <label for="linkedin">LinkedIn</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="github" class="validate" value="{{portfolio.github}}">
                                <label for="github">GitHub</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="profile row">
                    <h5>Education</h5>
                    <form class="col-s12 edit-education-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="school" class="validate" value="{{portfolio.school}}">
                                <label for="school">School</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="course" class="validate" value="{{portfolio.course}}">
                                <label for="course">Course</label>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="grad-date" class="validate" value="{{portfolio.graduation_date}}">
                                <label for="grad-date">Graduation Date</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            

            <div class="div-wrapper-two">

                <div class="profile row">
                    <h5>Work</h5>
                    <form class="col-s5 edit-work-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="role" class="validate" value="{{portfolio.role}}">
                                <label for="role">Job Role</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="company" class="validate" value="{{portfolio.company}}">
                                <label for="company">Company</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="job-location" class="validate" value="{{portfolio.location}}">
                                <label for="job-location">Location</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="start-date" class="validate" value="{{portfolio.job_starting}}">
                                <label for="start-date">Start Date</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="end-date" class="validate" value="{{portfolio.job_ending}}">
                                <label for="end-date">End Date</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="job-description" class="validate" value="{{portfolio.job_description}}">
                                <label for="job-description">Job Description</label>
                            </div>
                        </div>
                        {{!-- add in for more then one job --}}
                    </form>
                </div>

                <div class="profile row">
                    <h5>Projects</h5>
                    <form class="col-s5 edit-project-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="project-title" class="validate" value="{{portfolio.project_name}}">
                                <label for="project-title">Project Title</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="repository" class="validate" value="{{portfolio.repository}}">
                                <label for="repository">Repository</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="project-description" class="validate" value="{{portfolio.project_description}}">
                                <label for="project-description">Project Description</label>
                            </div>
                        </div>
                        {{!-- spot for more projects --}}
                    </form>
                    <div class="buttons">
                        <button type="submit" class="btn profile-btn">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>

                
            </div>
        </div>

<script src="javascript/edit.js"></script>