<div class="dashboard">
    <a href="/dashboard" class="dashboard-back">&larr; Back to Dashboard</a>
    <form class="container edit-post">
        <h2 class="title-edit text-center text-white">Edit Profile</h2>

        <div class="row port-name">
            <label class="text-white" for="name">Full Name:</label>
            <input type="text" id="name" class="name" name="name" value='{{post.name}}'>
        </div>

        <div class="row port-job_title">
            <label class="text-white" for="job_title">Job Title:</label>
            <input type="text" id="job_title" class="job_title" name="job_title" value='{{post.job_title}}'>
        </div>

        <div class="row port-about">
            <label class="text-white" for="about">About:</label>
            <input type="text" id="about" class="about" name="about" value='{{post.about}}'>
        </div>
        
        <div class="row port-phone">
            <label class="text-white" for="phone">Contact Phone:</label>
            <input type="text" id="phone" class="phone" name="phone" value='{{post.phone}}'>
        </div>
        
        <div class="row port-email">
            <label class="text-white" for="email">Contact Email:</label>
            <input type="text" id="email" class="email" name="email" value='{{post.email}}'>
        </div>
        
        <div class="row port-github">
            <label class="text-white" for="github">Github:</label>
            <input type="text" id="github" class="github" name="github" value='{{post.github}}'>
        </div>
        
        <div class="row port-linkedin">
            <label class="text-white" for="linkedin">LinkedIn:</label>
            <input type="text" id="linkedin" class="linkedin" name="linkedin" value='{{post.linkedin}}'>
        </div>

        <div class="row port-role">
            <label class="text-white" for="role">Role:</label>
            <input type="text" id="role" class="role" name="role" value='{{post.role}}'>
        </div>

        <div class="row port-company">
            <label class="text-white" for="company">Company:</label>
            <input type="text" id="company" class="company" name="company" value='{{post.company}}'>
        </div>

        <div class="row port-job_starting">
            <label class="text-white" for="job_starting">Start Date:</label>
            <input type="text" id="job_starting" class="job_starting" name="job_starting" value='{{post.job_starting}}'>
        </div>

        <div class="row port-job_ending">
            <label class="text-white" for="job_ending">End Date:</label>
            <input type="text" id="job_ending" class="job_ending" name="job_ending" value='{{post.job_ending}}'>
        </div>

        <div class="row port-job_desc">
            <label class="text-white" for="job_desc">Job Description:</label>
            <input type="text" id="job_desc" class="job_desc" name="job_desc" value='{{post.job_desc}}'>
        </div>

        <div class="row port-school_name">
            <label class="text-white" for="school_name">School Name:</label>
            <input type="text" id="school_name" class="school_name" name="school_name" value='{{post.school_name}}'>
        </div>

        <div class="row port-graduation_date">
            <label class="text-white" for="graduation_date">Graduation Date:</label>
            <input type="text" id="graduation_date" class="graduation_date" name="graduation_date" value='{{post.graduation_date}}'>
        </div>

        <div class="row port-degree">
            <label class="text-white" for="degree">Degree:</label>
            <input type="text" id="degree" class="degree" name="degree" value='{{post.degree}}'>
        </div>

        <div class="row port-project1_name">
            <label class="text-white" for="project1_name">Project 1 Name:</label>
            <input type="text" id="project1_name" class="project1_name" name="project1_name" value='{{post.project1_name}}'>
        </div>

        <div class="row port-project1_desc">
            <label class="text-white" for="project1_desc">Project 1 Description:</label>
            <input type="text" id="project1_desc" class="project1_desc" name="project1_desc" value='{{post.project1_desc}}'>
        </div>

        <div class="row port-repository1">
            <label class="text-white" for="repository1">Project 1 Repository:</label>
            <input type="text" id="repository1" class="repository1" name="repository1" value='{{post.repository1}}'>
        </div>

        <div class="row port-project2_name">
            <label class="text-white" for="project2_name">Project 2 Name:</label>
            <input type="text" id="project2_name" class="project2_name" name="project2_name" value='{{post.project2_name}}'>
        </div>

        <div class="row port-project2_desc">
            <label class="text-white" for="project2_desc">Project 2 Description:</label>
            <input type="text" id="project2_desc" class="project2_desc" name="project2_desc" value='{{post.project2_desc}}'>
        </div>

        <div class="row port-repository2">
            <label class="text-white" for="repository2">Project 2 Repository:</label>
            <input type="text" id="repository2" class="repository2" name="repository2" value='{{post.repository2}}'>
        </div>

        <div class="row port-project3_name">
            <label class="text-white" for="project3_name">Project 3 Name:</label>
            <input type="text" id="project3_name" class="project3_name" name="project3_name" value='{{post.project3_name}}'>
        </div>

        <div class="row port-project3_desc">
            <label class="text-white" for="project3_desc">Project 3 Description:</label>
            <input type="text" id="project3_desc" class="project3_desc" name="project3_desc" value='{{post.project3_desc}}'>
        </div>

        <div class="row port-repository3">
            <label class="text-white" for="repository3">Project 3 Repository:</label>
            <input type="text" id="repository3" class="repository3" name="repository3" value='{{post.repository3}}'>
        </div>


        <button type="submit" class="btn publish-btn signup-btn btn-outline-light btn-lg">Save Changes</button>
    </form>
</div>

<script src="/javascript/editPost.js"></script>

