<div id="viewport">
    <!-- Sidebar -->
    <div class="sidebarWrapper sidebar nav-menu" id="sidebar">
        <header>
            <img class="user-pic" src="https://avatars.githubusercontent.com/{{post.github}}" alt="">
            <p class="profile-name">{{post.name}}</p>
        </header>


        <ul class="nav">
            <li class="active">
                <a href="#about">About Me</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#work">Experience</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>

        {{!-- Social media icons --}}
        <div class="socials">
            <ul class="list-unstyled">
                <li><a href="https://github.com/{{post.github}}" target="_blank"><i class="fa-brands fa-github github-icon"></i></a></li>
                <li><a href="https://www.linkedin.com/in/{{post.linkedin}}/" target="_blank"><i class="fa-brands fa-linkedin linkedin-icon"></i></a></li>
                <li><a href="mailto:{{post.email}}"><i class="fa-regular fa-envelope email-icon" target="_blank"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- Content -->
    <div id="content">

        {{!-- About me section --}}
        <section id="about">
            <div class="about-background">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 aboutWrapper">

                            <div id="about" class="section-title">
                                <h2><span class="numbers">01</span>About me</h2>
                            </div>

                            <div class="body-margin">
                                <h1>Hello, I am <strong> {{post.name}} </strong> <br> <span class="bg-color">
                                        {{post.job_title}}
                                    </span>
                                </h1>
                                <p> {{post.about}} </p>

                                <div class="skills">
                                    {{!-- Add skill list here....maybe later lolllll --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="portfolio">
            <div class="portfolio-background">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 portfolioWrapper">

                            <div id="projects" class="section-title">
                                <h2 class="pull-left"><span class="numbers">02</span>Portfolio</h2>
                            </div>
                            <div class="body-margin">
                                <div class="row projects">
                                    <div id="popup-1" class="mfp-hide popup-box">
                                        <img src="images/portfolio-1.jpg" alt="">
                                        <div>
                                            <h3>{{post.project1_name}}</h3>
                                            <p>{{post.project1_desc}}</p>
                                            <a href="{{post.repository1}}" target="blank"><button class="btn">Visit
                                                    Repo</button></a>
                                        </div>
                                    </div>

                                    <div id="popup-2" class="mfp-hide popup-box">
                                        <img src="images/portfolio-2.jpg" alt="">
                                        <div>
                                            <h3>{{post.project2_name}}</h3>
                                            <p>{{post.project2_desc}}</p>
                                            <a href="{{post.repository2}}" target="blank"><button class="btn">Visit
                                                    Repo</button></a>
                                        </div>
                                    </div>

                                    <div id="popup-3" class="mfp-hide popup-box">
                                        <img src="images/portfolio-3.jpg" alt="">
                                        <div>
                                            <h3>{{post.project3_name}}</h3>
                                            <p>{{post.project3_desc}}</p>
                                            <a href="{{post.repository3}}" target="blank"><button class="btn">Visit
                                                    Repo</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </section>


        <section id="resume">
            <div class="resume-background">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 educationWrapper">

                            <div id="education" class="section-title">
                                <h2><span class="numbers">03</span>Education</h2>
                            </div>
                            <div class="body-margin">
                                <div class="resume-box">
                                    <div>
                                        <i class="icon_pencil"></i>
                                    </div>
                                    <div>
                                        <h3>{{post.school_name}}</h3>
                                        <span>{{post.graduation_date}}</span>
                                        <p>{{post.degree}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="work">
            <div class="work-background">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 workWrapper">

                            <div id="work" class="section-title">
                                <h2><span class="numbers">04</span>Work Experience</h2>
                            </div>
                            <div class="body-margin">
                                <div class="work-box">
                                    <div>
                                        <i class="icon_pencil"></i>
                                    </div>
                                    <div>
                                        <h3>{{post.role}}</h3>
                                        <h6>{{post.company}}</h6>
                                        <span>{{post.job_starting}} - {{post.job_ending}}</span>
                                        <p>{{post.job_desc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="contact">
            <div class="contact-background">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 contactWrapper">

                            <div id="contact" class="section-title">
                                <h2><span class="numbers">05</span>Get In Touch</h2>
                            </div>
                            <div class="body-margin">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 contact-info">
                                        <div class="widget">
                                            <ul class="contact">
                                                <li>
                                                    <h3><span class="icon_phone" aria-hidden="true"></span> Phone
                                                    </h3>
                                                    <p>{{post.phone}}</p>
                                                </li>
                                                <li>
                                                    <h3><span class="icon_mail" aria-hidden="true"></span> Email
                                                    </h3>
                                                    <p><a href="">{{post.email}}</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 footer-background">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                Copyright &copy; 2022 {{user.name}}. All Right Reserved
                            </div>
                            <div class="col-sm-6 text-right">
                                Designed With <i class="fa fa-heart-o red"></i> By <a target="_blank" href="/">The Port
                                    Resort</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>

</html>